body {
    background-image: url('bk1.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 可以使背景图固定不滚动 */
    overflow-x: hidden;
}

.upper-background {
    position: relative;
    background-image: url('bk2.gif');
    top: 0;
    left: 0;
    width: 66%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* 防止背景图重复 */
}